# Created by .ignore support plugin (hsz.mobi)
.gitignore
.idea
ModuleMain.iml
com.welcome.server.iml
WelcomePush-c160a6e929f1.json
ModuleMain/src/main/resources/
ModuleMain/src/main/webapp/
ModuleMain/target/
ModuleMain/src/main/main.iml